@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Rajdhani:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
}
#read-button {
    padding: 8px 16px;
    background-color: red;
    transition: 0.2s;
    border: 2px solid #ffffff;
}

#read-button.on {
    background-color: green;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    align-content: start;
    padding: 12px;
    gap: 12px;
    background-color: #fef3c7;
}

.book-card {
    background-color: #fcd34d;
    border: 4px solid #fbbf24;
    border-radius: 2px;
    height: 200px;
    text-align: center;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    --opacity: 0;
    color: #b45309;
    transition: all 0.2s ease-in-out;
}

.book-title {
    font-family:'Alfa Slab One';
    color: #92400e;
}

.book-author {
    font-family:'Rajdhani';
    font-size: 0.9em;
}

.book-pages {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.book-pages p {
    margin: 0;
}

.book-pages > p:last-child {
    font-size: 0.6em;
}

.book-card:hover {
    --opacity: 1;
}

.read-button,
.remove-button {
    transition: opacity 0.2s ease-in-out;
    width: 18%;
    height: 18%;
    position: absolute;
    opacity: var(--opacity);
}

.remove-button {
    left: 0;
    top: 0;
}


.read-button {
    right: 0;
    bottom: 0;
}

.sidebar {
    background-color: beige;
}

.grid-container {
    display: grid;
    grid-template: 50px 1fr / clamp(100px, 20%, 400px) 1fr;
    min-height: 100vh;
    box-sizing: content-box;
}

.sidebar {
    grid-row: 2 / -1;
}

nav {
    grid-column: 1 / -1;
    position: sticky;
    top: 0px;
    background-color: antiquewhite;
    z-index: 1;
}

.insertion-form {
    --width-height: clamp(200px, 50vmin, 600px);
    width: var(--width-height);
    height: var(--width-height);
    position: absolute;
    background-color: rgb(104, 240, 133);
    top: calc(50% - var(--width-height) / 2);
    left: calc(50% - var(--width-height) / 2);
    border-radius: 18px;
    transition: all 0.3s ease-in-out;

}

.darkened-background {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: rgb(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.hidden > * {
    transform:translateY(150%);
}